.featured {
  padding-top: 35px;
}

.featured__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
}
.featured__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #BE123C;
}

.featured__icon {
  font-size: 24px;
}
.featured__btn {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  top: 8px;
  right: 5px;
}
.featured__item {
  width: 275px;
  list-style: none;
}
.featured__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.featured__boximg {
  position: relative;
}

.featured__heartIcon {
  font-size: 24px;
  padding: 8px;
  color: #D1D5DB;
  background: rgba(243, 244, 246, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  
  
  &:hover {
    // color: rgb(230, 62, 62);
  }
}

.form-control {
  width: 350px !important;
  margin-bottom: 3px;
  padding: 5px;
  padding-left: 10px !important;
  width: 50%;
  font-family: inherit;
  border-radius: 10px;
  border: 1px solid #aaa;
  outline-color: #b7c5be;
  background-color: #D1D5DB;
}

.year {
  width: 70px !important;
  margin-bottom: 3px;
  padding: 5px;
  padding-left: 8px !important;
  width: 50%;
  font-family: inherit;
  border-radius: 20px;
  border: 1px solid #aaa;
  outline-color: #b7c5be;
  background-color: #D1D5DB;
}

.exclusive__boximg {
  position: relative;
  width: 400px;
}
.exclusive__img {
  width: 100%;
  height: auto;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 45px;
  color: #fff;
}

.casts__boximg {
  width: 250px;
}

.casts__img  {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.casts {
  list-style: none;
}

.casts__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
}



.drama__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dramma__title {
  text-align: center !important;
}

.remove-btn {
  position: relative;
  left: 0px !important;
  font-weight: 500;
  color: #fff;
  background-color: #BE123C;
}

.btn__summarry {
  font-weight: 500;
  color: #fff;
  background-color: #BE123C;


  &:hover {
    color: #fff;
    background-color: #111827;
  }
}

.trailer__section {
  padding-top: 20px !important;
}

.pagination__div {
  padding-top: 30px;
  text-align: center;
}

.pagnitons {
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #BE123C;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #111827;
  }
}