a {
  text-decoration: none;
}
li {
  list-style: none;
}

.footer{
  padding-top: 140px;
}
.footer-inner{
  margin: 0 auto;
}
.footer-link{
  color: #111827;
  font-weight: 700;
}
.footer-copy{
  font-weight: 700;
  color: #6B7280;
  margin-bottom: 62px;
}