
/* Rest info */
.rest-info {
  padding: 20px;
  background:linear-gradient(110deg, #F8F6F0 65%, #FDF5E6 70%);;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  min-height: 200px;
  z-index: 666;
  display: none;
}

.rest-info-show {
  display: flex;
}

.rest-in-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 20px;
}

.rest-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 444;
  display: none;
}

.rest-back-show {
  display: block;
}

.left-title {
  font-size: 20px;
  margin-bottom: 10px;
}


.rest-img {
  width: 300px !important;
  height: auto !important;
  margin-bottom: 10px !important;

}

.rest-rate {
  display: flex;
  margin-bottom: 10px;
}

.rest-janr {
  width: 100% !important;
  margin-bottom: 10px;
}

.rest-desc {
  margin-bottom: 10px;

}

.rest-btns {
  display: flex;
  justify-content: space-between;
}

.left-title {
  color: #f5c518;
}

.second-star {
  margin-right: 5px
}

.rest-janr {
  margin-top: 30px;
  font-size: 20px;
}

.rest-btns {
  margin-top: 50px;
}

.rest-btns button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.rest-btns button a {
  text-decoration: none;
  color: #000;
}

.rest-btns button:first-child {
  background-color: #f5c518;
  color: #000;
  font-weight: 600;
  transition: all ease .4s;
}

.rest-btns button:last-child {
  background-color: #041c2c;
  font-weight: 600;
  color: #fff;
}

.rest-btns button:hover {
  opacity: .5;
}

.laegns {
  font-size: 24px;
}




*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden !important;
}

.pagination {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pag-list {
    display: flex;
    list-style: none;
    background-color: #ccc;
    padding: 8px;
    border-radius: 50px;
}

.pag-list li {
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    transition: all 0.3s ease
}

.pag-list li.numb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 3px;
}

.pag-list li .bx {
    font-size: 20px;
}

.pag-list li.btp {
    padding: 0 20px;
}

.pag-list li span {
    display: flex;
    align-items: center;
    justify-content: center;
}


.pag-list li.prev {
    border-radius: 25px 5px 5px 25px;
}

.pag-list li.next {
    border-radius: 5px 25px 25px 5px;
} 

.pag-list li.dots {
    font-size: 22px;
    cursor: default;
}

.pag-list li.actived,
.pag-list li.numb:hover,
.pag-list li.btp:hover {
    background-color: #fff;
}